# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.user
*.userosscache
*.suo
*.userprefs

# Rider
.idea/
*.sln.iml

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET
ScaffoldingReadMe.txt

# Others
*.cache
*.vsidx
/obj/Debug/net8.0/rpswa.dswa.cache.json
/obj/Debug/net8.0/smile-api.AssemblyInfoInputs.cache
/obj/Debug/net8.0/smile-api.AssemblyInfo.cs
/obj/Debug/net8.0/smile-api.assets.cache
/obj/Debug/net8.0/smile-api.csproj.AssemblyReference.cache
/obj/Debug/net8.0/smile-api.GeneratedMSBuildEditorConfig.editorconfig
/obj/project.nuget.cache
/obj/project.assets.json
/obj/smile-api.csproj.nuget.dgspec.json
